<!--about.ejs | Vincent Chen | 301245927 | September 30, 2023 -->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <div class="fade-in-text">
    <h1><%= title %> us</h1>
    <hr>
    <img class = "imgborder" src="/img/Vincent.jpg" alt="Vincent" style="float:right;" width="358px" height="612px">
    <br><br><br><br>
    <h2>About the Creator</h2>
    <hr>
    <p>Vincent Chen is a Chinese Canadian game developer from Guelph, Ontario.
      He is currently in his 2nd year in studying Game-Programming at Centennial College.
      For most of his high school life, he would garner interest in coding. Eventually, 
      his interests became reality, and thus the start of his career in IT began.
      Additionally, he has a keen interest in history and literature, some of his favourite topics 
      are related to the Song Dynasty in Medieval China, and the novel The Water Margin.
    </p>
    <hr>

    <p>Vincent's Resume is available here! 
      <a href="/pdf/VincentChenResume-Sept2022(Revised)(2).pdf">RESUME</a></p>

    </div>
    <br><br><br><br><br><br>
    <div class="fade-in-text">
    <h3>Other content</h3>
    <div class = "listhover">
    <div id = "listhover-nav-item">
    <a href="/home"><h4>Check out the Home page</h4></a>
    </div>
    <div id = "listhover-nav-item">
    <a href="/contact"><h4>Check out the Contacts page</h4></a>
    </div>
    <div id = "listhover-nav-item">
    <a href="/projects"><h4>Check out the Projects page</h4></a>
    </div>
  </div>
  </div>
  <br><br><br><br><br><br>
</div>
    </main>
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   