<!--project.ejs | Vincent Chen | 301245927 | September 30, 2023 -->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <div class="fade-in-text">
    <h1>Latest <%= title %></h1>
    <hr><br><br><br><br>
    <h2>Project Showcase</h2>
    <p>These are projects that have been created by my group.</p>
      <hr>
      <br><br>
      <div class = "projectbox">
      <p class="clearBoth">
        <img alt="Angstloch" class="floatLeft" height="400" src="img/Angstloch.png" width="600">
       <div class = "textcenter">
        <br><h3>Angstloch</h3>
        <b>2022</b>
        <blockquote>
          <br>"This is a Unity game that my group created. 
          Angstloch as a game is a top-down 2D dungeon crawler, and it was inspired by the 
          likes of the Legend of Zelda and the Binding of Issac.
          We fought through many technical challenges, in addition to problems with other group members.
          Eventually, we were able to push out a working game, albeit a game with limited functions.
          I mainly worked on coding, debugging, sound design, and animation."
        </blockquote>
        </p>
        </div>
      </div>
      <br><br>
      <div class = "projectbox">
      <p class="clearBoth">
        <img alt="Annihilation" class="floatLeft" height="400" src="img/Annihilation.png" width="600">
       <div class = "textcenter">
        <br><h3>Annihilation</h3>
        <b>2023</b>
        <blockquote>
          <br>"This is a Javascript Canvas game that I created. 
          Annihilation as a game is a intereactive clicker game, 
          and it was inspired by an earlier title that I created in High School; 
          the art style is based on the game Minecraft.
          The game took a great amount of time and help to achieve the final product.
          The goal of the game is to catch the red fox, once caught, the player earns points.
          The fox becomes ever so cunning, and becomes faster the more the player earns points."
        </blockquote>
        </p>
        </div>
      </div>
      <br><br>
      <div class = "projectbox">
      <p class="clearBoth">
        <img alt="BuzzOff" class="floatLeft" height="400" src="img/BuzzOff.png" width="600">
       <div class = "textcenter">
        <br><h3>BUZZ OFF, EH?</h3>
        <b>TBA</b>
        <blockquote>
          <br>"This is a Unity game that is currently being produced by my group. 
          BUZZ OFF, EH? as a game is a side-scrolling 2D platformer, and it was inspired by the 
          likes of the Cuphead and Don’t Starve Together. 
          A exciting game where you’ll swat your way through the wilds of Northern Ontario. 
          However, there is a comical twist as you find yourself lost amidst a relentless mosquito horde. 
          So far, we have not decided on what roles we'll play in the creation of this new title, 
          but it's safe to say it will include a lot of tribulation."
          
        </blockquote>
        </p>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br>
    <div class="fade-in-text">
    <h3>Other content</h3>
    <div class = "listhover">
      <div id = "listhover-nav-item">
    <a href="/home"><h4>Check out the Home page</h4></a>
      </div>
    <div id = "listhover-nav-item">
    <a href="/contact"><h4>Check out the Contacts page</h4></a>
    </div>
    <div id = "listhover-nav-item">
    <a href="/services"><h4>Check out the Services page</h4></a>
    </div>
  </div>
</div>
  <br><br><br><br><br><br>
</div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   