<!--services.ejs | Vincent Chen | 301245927 | September 30, 2023 -->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <div class="fade-in-text">
    <h1><%= title %></h1>
    <hr><br><br><br><br>
    <h2>Available services</h2>
    <p>Here are a number of services that Vincent offers.</p>
    <hr>
    <div class="row">
      <div class = "servicebox">
        <p class="clearBoth">
         <div class = "textcenter">
      <div class="col-md-4"><h3>Game Development</h3></div>
      <img alt="Gamedev" height="200" src="img/Gamedev.png" width="300">
      <br>
      <hr>
      <p>Although new to the business, Vincent has shown that he has 
          the skills to code and develop games for a general audience.
          Known projects include Annihilation, Angstloch, and Massacre.
         </p> 
        </div>
         </p>
         </div>
         <div class = "servicebox">
          <p class="clearBoth">
           <div class = "textcenter">
      <div class="col-md-4"><h3>Game Assets</h3></div>
      <img alt="Axe" height="200" src="img/Axe.png" width="300">
      <br>
      <hr>
      <p>Since recently, Vincent became skilled in 
         the creation of original assets for video games.
         His catalog includes Backgrounds, Sprites, Map overlays, and more.
       </p> 
         </div>
         </p>
         </div>
         <div class = "servicebox">
         <p class="clearBoth">
         <div class = "textcenter">
      <div class="col-md-4"><h3>Animation</h3></div>
      <img alt="Anim" height="200" src="img/Anim.gif" width="300">
      <br>
      <hr> 
      <p>Through thorough practice, Vincent has been developing skills 
        in animating for video games. He has helped create animations 
        for the Godric the Forlorn, the Goblin, and the Red fox, to name a few.
       </p> 
         </div>
         </p>
         </div>
    </div>
    <br><br><br><br><br><br>
    <div class="fade-in-text">
    <h3>Other content</h3>
    <div class = "listhover">
      <div id = "listhover-nav-item">
    <a href="/about"><h4>Check out the About me page</h4></a>
    </div>
    <div id = "listhover-nav-item">
    <a href="/contact"><h4>Check out the Contacts page</h4></a>
    </div>
    <div id = "listhover-nav-item">
    <a href="/project"><h4>Check out the Projects page</h4></a>
    </div>
  </div>
</div>
<br><br><br><br><br><br>
<img alt="spritesheet" class = "floatRight" height="100" src="img/spritesheet.png" width="600">
</div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   